<p id="notice"><%= notice %></p>

<h1>The weather is <%= @current_weather.summary %> and <%= @current_weather.temperature %>°F</h1>

<% @daily_weather.each do |day| %>
    <%= day.summary %><br>
    <%= Time.at(day.time).strftime('%A') %> :
    High: <%= day.apparentTemperatureMax %> | Low: <%= day.apparentTemperatureMin %>
<% end %>

<p>
  <strong>Lat:</strong>
  <%= @forecast.lat %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @forecast.lng %>
</p>

<%= link_to 'Edit', edit_forecast_path(@forecast) %> |
<%= link_to 'Back', forecasts_path %>
